# ---> Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.png

# Distribution / packaging
.Python
env/
venv/

issue.py

.coverage
coverage_unit.json
